/zpresent/

# Python cache
__pycache__/
*.pyc
*.pyo

.vscode/

# MacOS specific
.DS_Store

/models/bert-hatespeech/pytorch_model.bin
/models/bert-hatespeech/model.safetensors
/models/bert-hatespeech-new/pytorch_model.bin
/models/bert-hatespeech-new/model.safetensors



